# ignore IntelliJ/PyCharm/VSCode IDE files
.idea
*.iml
.vscode


# coverage files
.coverage
.coverage.*
coverage.xml

# local delta tables
**/spark-warehouse

# ignore build files
**/build
**/dist
**/htmlcov
**/tempo.egg-info
**/dbl_tempo.egg-info

## Python related files
*.pyc
**/__pycache__

## pyenv files
.python-version
python/.python-version

## tox files
.tox
python/.tox

# ignore virtual environments
python/venv
python/.venv
python/.env
venv
.venv
.env

# other misc ignore
.DS_Store
/docs/_build/

# sphinx build folder
docs/_build