# ignore IntelliJ/PyCharm IDE files
.idea
*.iml

# Scala related files
scala/tempo/target
scala/tempo/project/target/*
scala/tempo/project/project/target/config-classes/*
scala/tempo/spark-warehouse/*

## Python related files

# ignore virtual environments
python/venv

# ignore build files
*.pyc
**/__pycache__
python/build
python/dist
python/tempo.egg-info/*
python/spark-warehouse/*
python/htmlcov/*
.coverage
coverage.xml

# other misc ignore
.DS_Store
