# ignore IntelliJ/PyCharm IDE files
.idea
*.iml

# coverage files
.coverage
coverage.xml

# Scala related files
scala/tempo/target
scala/tempo/project/target/
scala/tempo/project/project/target/

# local delta tables
**/spark-warehouse

# ignore build files
**/build
**/dist
**/htmlcov
**/tempo.egg-info
**/dbl_tempo.egg-info

## Python related files
*.pyc
**/__pycache__

# ignore virtual environments
python/venv
venv

# other misc ignore
.DS_Store
