[run]
branch = True
source = tempo
omit = tests/*_tests.py

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    import
    from
    if TYPE_CHECKING:

ignore_errors = True

omit =
    setup.py
    *tests*