[flake8]
max-line-length = 88
builtins = dbutils
extend-ignore =
    # Line too long (88 characters) (E501)
    E501,
    # Name may be undefined, or defined from star imports: module (F405)
    F405,
    # Invalid escape sequence 'x' (W605)
    W605,
exclude =
    .git
    __pycache__
    env
    .tox
    build
    .venv
    venv
    .coverage.py
    .coverage
    .coveragerc
    .eggs
    .mypy_cache
    .pytest_cache
    dbl_tempo.egg-info
    .tox