ipython==8.10.0
numpy==1.24.2
chispa==0.9.2
pandas==1.5.2
pyarrow==10.0.1
python-dateutil==2.8.2
pytz==2022.7.1
scipy==1.9.3
six==1.16.0
wheel==0.38.4
semver==2.13.0
sphinx-autobuild==2021.3.14
furo==2022.9.29
sphinx-copybutton==0.5.1
Sphinx==4.5.0
sphinx-design==0.2.0
sphinx-panels==0.6.0
jsonref==1.0.1
python-dateutil==2.8.2
