name: dist-release

on:
  pull_request:
    types: [opened, synchronize]
    paths-ignore:
      - 'docs/**'  # Ignore changes in the docs folder for pull requests
  push:
    branches: ['master']
    paths-ignore:
      - 'docs/**'  # Ignore changes in the docs folder for pushes

jobs:
  release:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      # Used to authenticate to PyPI via OIDC and sign the release's artifacts with sigstore-python.
      id-token: write
      # Used to attach signing artifacts to the published release.
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox

      - name: Build dist
        working-directory: ./python
        run: tox -e build-dist

      - name: Publish a Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          packages-dir: python/dist/
