name: test

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: ['master']
  workflow_dispatch: 

jobs:
  lint-and-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Setup development tools
      working-directory: ./python
      run: make setup 
    - name: Lint check
      working-directory: ./python
      run: make lint
    - name: Type check
      working-directory: ./python
      run: make type-check

  test:
    needs: lint-and-check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config:
          - py: '3.9'
            dbr: 113
          - py: '3.9'
            dbr: 122
          - py: '3.10'
            dbr: 133
          - py: '3.10'
            dbr: 143
          - py: '3.11'
            dbr: 154
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
    - name: Set up Python ${{ matrix.config.py }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.config.py }}
    - name: Setup development tools
      working-directory: ./python
      run: make setup
    - name: Run tests
      working-directory: ./python
      run: make test coverage-report DBR=${{ matrix.config.dbr }}
    - name: Publish test coverage
      uses: codecov/codecov-action@v4
      with:
          fail_ci_if_error: true
          files: ./python/coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
