name: build
on:
  push:
    branches: [master]
jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON: '3.7'
    steps:
    - uses: actions/checkout@master
    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: 3.7
    - name: Set Spark env
      run: |
        export SPARK_LOCAL_IP=127.0.0.1
    - name: Generate coverage report
      working-directory: ./python
      run: |
        pip install -r requirements.txt
        pip install coverage
        coverage run -m unittest discover -s tests -p '*_tests.py'
        coverage xml
    - name: Publish test coverage
      uses: codecov/codecov-action@v1
